.top-buffer {
    margin-top:100px; 
}

.content:before {
  content: "";
  position: fixed;
  left: 100px;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('../img/fondo.jpg');
  width: 1200px;
  height: 1000px;
  filter: blur(5px);
}
.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
}

.color-login{
    background-color: blue;
}